# ============================================================================
# RDK MANAGEMENT, LLC CONFIDENTIAL AND PROPRIETARY
# ============================================================================
# This file (and its contents) are the intellectual property of RDK Management, LLC.
# It may not be used, copied, distributed or otherwise  disclosed in whole or in
# part without the express written permission of RDK Management, LLC.
# ============================================================================
# Copyright (c) 2014 RDK Management, LLC. All rights reserved.
# ============================================================================
[Unit]
Description=IARM Bus Daemon
DefaultDependencies=no
After=dbus.service
OnFailure=reboot-notifier@%i.service

[Service]
ExecStart=/usr/bin/IARMDaemonMain >& /var/volatile/log/iarmbusd.log

[Install]
WantedBy=multi-user.target
